.contact {


    .info-section {
        padding: 54px;
        width: 35%;



    }

    .content-area {
        background: $color3;
        margin-left: 35%;
        width: 65%;
        background: white;
        height: 100%;

        // padding: 0 0 0 25%;
        .img-container {
            width: 30%;
            display: inline-block;
            position: relative;

            .form-section {
                overflow-y: scroll;
                overflow-x: hidden;
                position: absolute;
                top: 56px;
                left: -200px;
                width: 500px;
                height: 750px;
                background: $color2;
                color: $color3;
                padding: 46px;
                -webkit-box-shadow: 9px 20px 71px 6px rgba(0, 0, 0, 0.34);
                -moz-box-shadow: 9px 20px 71px 6px rgba(0, 0, 0, 0.34);
                box-shadow: 9px 20px 71px 6px rgba(0, 0, 0, 0.34);

                h4 {
                    font-size: 1.3rem;
                    margin-bottom: 4rem;
                    margin-top: 2rem;
                }

                input[type="text"],
                input[type="email"],
                textarea {
                    width: 100%;
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid $color5;
                    margin-bottom: 2rem;
                    font-size: .8rem;
                    text-transform: uppercase;
                    line-height: 1.2;
                    color: $color5;
                    padding: 15px 0;
                }

                button[type="submit"] {
                    background: $color1;
                    border: none;
                    font-size: 1rem;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;
                    text-align: center;
                    color: $color3;
                    padding: 17px 30px;
                    text-transform: uppercase;
                    width: 100%;

                }

            }

        }

        .contact-section {
            vertical-align: top;
            display: inline-block;
            padding: 56px;
            width: 70%;
            float: right;

            .contact-info {
                h1 {
                    font-size: 2.3rem;
                    font-weight: 500;
                    line-height: 1.2;
                    margin: 0 0 1rem;

                    span {
                        color: $color1;

                    }
                }

                .contact-box{
                    max-width: 600px;

                    padding: 30px;
                    transition: all 0.5s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        -webkit-box-shadow: 0 20px 74px 6px rgba(0,0,0,0.12);
                        -moz-box-shadow: 0 20px 74px 6px rgba(0,0,0,0.12);
                        box-shadow: 0 20px 74px 6px rgba(0,0,0,0.12);
                    }
                    h5 {
                        font-weight: 600;
                        font-size: 1.1rem;
                        margin: 0 0 1.5rem !important;
                    }
    
                    p {
                        color: $color5;
                        font-weight: 300;
                        line-height: 1.4;
                        margin: 0 0 2rem;
                    }

                }

                

            }
        }


    }
}

// phone
@media (max-width: 767px)  { 
    .contact{
        .menu-icon{
            top: -3px;
            right: 20px;
            color: white;
            .fas{
                color: white;
            }
        }

        .content-area{
            height: auto;
            &:after{
                content: "";
                display: table;
                clear: both;
            }
        }
        .info-section{
            
            padding: 10px 20px;
            position: static;
            .logo{
                height: 50px;
                width: 70px;
                font-size: 1rem;

            }
            .info-box{
                display: none;
            }
        }
        .content-area{
            margin-left: 0;
            width: 100%;
            .img-container{
               width: 100%;
                padding: 56px 20px 0;

                .form-section{
                    position: static;
                    width: 100%;
                    height: auto;
                    overflow-y: auto;
                }
            }
            .contact-section{
                width: 100%;
                float: right;
                padding: 20% 20px 0;
                .profile{
                    display: inline;
                }
                
                
            }
            
        }
    } 
 }
    

// tablet
@media (min-width: 768px) and (max-width: 991px) {
    .contact{
        .info-section{
            .icon-section{ 
                a{
                   font-size: 1.4rem; 
               }
            }
        } 
        .content-area{
            height: auto;
            // overflow: hidden;
            // overflow-y: auto;
            &:after{
                content: "";
                display: table;
                clear: both;
            }
            .img-container{
                width: 100%;
                height: auto;
                padding: 56px 20px 0;
                .form-section{
                    position: static;
                    width: 100%;
                    height: auto;
                    overflow: auto;
                    // height: 246px;
                }
            }
            .contact-section{
                width: 100%;
                float: right;
                padding: 20% 20px 0;
            } 
        }
    } 
 }
//  laptop
@media (min-width: 992px) and (max-width: 1199px) { 
    .contact{
        .content-area{
            height: auto;
            &:after{
                content: "";
                display: table;
                clear: both;
            }
            .img-container{
                width: 100%;
                padding: 56px 20px 0;
                float: left;
                height: auto;
                .form-section{
                    width: 100%;
                    position: static;
                    top: 100px;
                    float: left;
                    height: auto;
                    overflow: auto;
                    // width: 100%;
                    // height: 246px;
                }
            }
            .contact-section{
                width: 70%;
                float: left;
                padding: 20% 20px 0;
                max-width: 800px;
            } 
        }
    }
   
 }
//  big screens
@media (min-width: 1200px) { 
    
    .contact{
        
        .content-area{
            .img-container{
                padding: 56px 20px 0;
                float: left;
                .form-section{
                    left: -157px;
                    width: 400;
                    position: absolute;
                    top: 100px;
                    height: auto;
                    overflow: auto;
                    // width: 100%;
                    // height: 246px;
                }
            }
            .contact-section{
                width: 70%;
                float: left;
                padding: 20% 60px 0;
                max-width: 800px;
                // padding: 20% 20px 0;
            } 
        }
    }
    
 }

 //  big screens
@media (min-width: 1500px) { 
    
    .contact{
        
        .content-area{
            .img-container{
                padding: 56px 20px 0;
                float: left;
                .form-section{
                    left: -250px;
                    width: 500;
                    position: absolute;
                    top: 100px;
                    height: auto;
                    overflow: auto;
                    // width: 100%;
                    // height: 246px;
                }
            }
            .contact-section{
                width: 70%;
                float: left;
                padding: 20% 60px 0;
                max-width: 800px;
                // padding: 20% 20px 0;
            } 
        }
    }
    
 }