.work {

    .info-section{
        width: 30%;
    }
    
    .content-area {
        background: $color3;
        // margin-left: 20%;
        width: 70%;
        min-width: 300px;
        background: white;
        height: 100%;
        padding: 56px;
        overflow-y: scroll;

        .work-section{
            margin-bottom: 20px;
            h1{
                font-weight: 700;
                font-size: 2rem;
                text-transform: uppercase;
                margin-bottom: 56px;
    
            }
            
    
            .project-section{
                display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 2em !important;
                .project-box{
                    
                    position: relative;
                    padding: 30px;
                    -webkit-box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, .12);
                    -moz-box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, .12);
                    box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, .12);
                    -webkit-background-size:cover; 
                    -moz-background-size: cover; 
                    -o-background-size: cover; 
                    background-size: cover; 
                    background-repeat: no-repeat;
                    height: 400px;

                    .grey-bg{
                        background-color: #efefef;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                        overflow: hidden;
                        &:hover{
                            opacity: .9;
                            .project-info{
                                .project-details{
                                    transform: translate3d(0, 0, 0);
                                    opacity: 1;
                                }
                                .project-title{
                                    transform: translate3d(0, 0, 0);
                                    opacity: 1;
                                }
                            }
                        }
                        .project-info{
                            padding: 56px;
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            .project-details{
                                position: relative;
                                font-size: 1.1rem;
                                text-transform: capitalize;
                                margin: 0 0 1rem 0;
                                transform: translate3d(-200px, 0, 0);
                                opacity: 0;
                                transition: all .3s ease-in-out;

                            }
                            .project-title{
                                font-size: 1.8rem;
                                text-transform: uppercase;
                                font-weight: 700;
                                transform: translate3d(-100px, 0, 0);
                                opacity: 0;
                                transition: all .3s ease-in-out 0.1s;
                            }
                            .buttons{
                                padding-top: 40px;
                                height: 100px;
                                width: 200px;
                                display: inline-block;
                                a{
                                    text-decoration: none;
                                    background-color: #51D0DE;
                                    padding: 10px 5px;
                                    
                                    border: none;
                                    color: white;
                                    border-radius: 5px;
                                    margin-right: 20px;
                                &:hover{
                                    background-color: $hover;
                                }
                               
                            }
                            }
                        }
                    }
                    h5{
                        font-weight: 500;
                        font-size: 1.3rem;
                        margin-bottom: 1.4rem;
                    }
                    p{
                        font-weight: 300;
                        font-size: 1rem; 
                        margin-bottom: 1rem;
                        
                    }
                }
            }
            
        }

       
    }
}

// phone
@media (max-width: 767px)  { 
    body,
    html {
        height: auto;
    }

    .work{
        .menu-icon{
            top: -3px;
            right: 20px;
            color: white;
            .fas{
                color: white;
            }
        }

        .content-area{
            height: auto;
            &:after{
                content: "";
                display: table;
                clear: both;
            }
        }
        .info-section{
            
            padding: 10px 30px;
            position: static;
            .logo{
                height: 50px;
                width: 70px;
                font-size: 1rem;

            }
            .info-box{
                display: none;
            }
        }
        .content-area{
            margin-left: 0;
            width: 100%;
            .work-section{
                .project-section{
                    display: inline;
                    .project-box{
                        height: 200px;
                        margin-bottom: 20px;
                        .grey-bg{
                            width: 100%;
                            height: 200px;
                            .project-info{
                                top: -50px;
                                .project-details{
                                font-size: .8rem;

                                }
                                .project-title{
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            
            .category{
                width: 100%;
                .xp-section{
                    grid-template-columns: 1fr;
                } 
            
        }
    } 
 }
}
    

// tablet
@media (min-width: 768px) and (max-width: 991px) {
    .work{
        .info-section{
            width: 30%;
            
            .icon-section{ 
                a{
                   font-size: 1.4rem; 
               }
            }
        } 
       .content-area{
            height: auto;
            width: 70% !important;
            // margin-left: 30%;
            // overflow: hidden;
            overflow-y: scroll;
            
            &:after{
                content: "";
                display: table;
                clear: both;
            }
            .work-section{
                .project-section{
                    display: inline;
                    .project-box{
                        height: 200px;
                        margin-bottom: 20px;
                        .grey-bg{
                            width: 100%;
                            height: 200px;
                            .project-info{
                                top: -20px;
                                .project-details{
                                font-size: .8rem;

                                }
                                .project-title{
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            
            
            }
        }
    }
    
 
//  laptop
@media (min-width: 992px) and (max-width: 1199px) { 
    .work{
        .info-section{
            width: 30%;
            padding: 56px 30px;
            
            .icon-section{ 
                a{
                   font-size: 1.4rem; 
               }
            }
        } 
       .content-area{
            height: 100%;
            width: 70% ;
            margin-left: 30%;
            // overflow: hidden;
            // overflow-y: auto;
            &:after{
                content: "";
                display: table;
                clear: both;
            }
            
            .buttons{
                display: inline-block;
            }
            }
        }
    } 
 
//  big screens
@media (min-width: 1200px) { 
    
    .work{

        .info-section{
            width: 30%;
            padding: 56px 30px;
            
            .icon-section{ 
                a{
                   font-size: 1.4rem; 
               }
            }
        } 
        
        .content-area{
            margin-left: 30%;
           
        }
    }
    
 }

 //  big screens
@media (min-width: 1500px) { 
    
    .work{
        .info-section{
            width: 30%;
            padding: 56px 30px;
            
            .icon-section{ 
                a{
                   font-size: 1.4rem; 
               }
            }
        } 
        
        .content-area{
            margin-left: 30%;
        }
    }
    
 }